body{
    font-family: 'Kosugi Maru', sans-serif;
    font-size:1.3em;
    /* background-image: url(https://picsum.photos/id/519/1980/1080?grayscale); */
    /* background-color: #93f2ff */
}

button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
  }

#menu-bar{
    height:15vh;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    background-color:rgb(0, 153, 255);
    z-index:10;
    text-align: center;
}

#title{
    font-size:2.5em;
    font-weight:bold;
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    margin:0 auto;
}

#instruction{
    margin:20px 200px;
    padding:10px;
    box-shadow: 5px 5px 5px gray ;
    background-color: rgb(175, 223, 255);
}

#form-wrapper{
    display: block;
    position: relative;
    width:98vw;
    text-align: center;
}

label{
    background-color: rgb(0, 153, 255);
    color: white;
    padding:20px;
}
#select-question-wrapper{
    position: relative;
    width:50vw;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

#select-question-wrapper:before{
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    /* content: "\f123"; */
    content:"\f3d0";
    font-family: "IonIcons";
    line-height: 43px;
    color: #7F878C;
    pointer-events: none;
}

#select-question{
    width:50vw;
    font-size:1.4em;
    /* margin-top:30px; */
    /* box-shadow: 5px 5px 5px gray; */
    padding:20px 40px;
    outline: none;
    border: none;
    border-radius: 40px;
    background-color: rgb(175, 223, 255);
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
    appearance: none;	/* 標準のスタイルを無効にする */ 
    transition-property: box-shadow,border-radius;
    transition-duration: 400ms;
}

#select-question:focus{
    outline: none;
}

#select-question:hover{
    box-shadow: 5px 5px 5px gray;
    border-radius: 0px;
    transition-property: box-shadow,border-radius;
    transition-duration: 400ms;
}

#answer-text{
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    width:70vw;
    /* box-shadow: 5px 5px 5px gray ; */
}

#submit-button{
    font-size:1.8em;
    padding:20px;
    border-radius: 40px;
    border: none;
    background-color: rgb(175, 223, 255);
    transition-property: box-shadow,border-radius;
    transition-duration: 400ms;
    
}

#submit-button:hover{
    appearance: none;
    box-shadow: 5px 5px 5px gray;
    border-radius: 0px;
    transition-property: box-shadow,border-radius;
    transition-duration: 400ms;
    /* background-color:red; */
}

.form-item-wrapper{
    margin-top: 50px;
}

