body{
    font-family: 'Kosugi Maru', sans-serif;
    font-size:1.3em;
    /* background-image: url(https://picsum.photos/id/519/1980/1080?grayscale); */
    /* background-color: #93f2ff */
    overflow-x: hidden;
    padding:0;
    margin:0;
}

button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
  }

#menu-bar{
    height:15vh;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    background-color:rgb(0, 153, 255);
    z-index:10;
    text-align: center;
}

#title{
    font-size:2.5em;
    font-weight:bold;
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    margin:0 auto;
}

#instruction{
    margin:20px 200px;
    padding:10px;
    box-shadow: 5px 5px 5px gray ;
    background-color: rgb(175, 223, 255);
}


#form-wrapper{
    /* display: inline; */
    left:0px;
    /* display:flex; */
    display:block;
    flex-wrap: nowrap;
    width: 100vw;
    position: relative;
    text-align: center;
    transition-property: left;
    transition: 500ms;
}

#form-wrapper.result{
    left:-100vw;
    transition-property: left;
    transition: 500ms;
}

#main-form{
    /* display:inline-block; */
    /* display:flexbox; */
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    transition:400ms;
}

#main-form.result{
    width:0;
    opacity:0;
    transition:400ms;
}

#result-div{
    /* display:inline-block; */
    /* display: flexbox; */
    position:absolute;
    width:0;
    top:0;
    left:100vw;
    transition:400ms;
    opacity:0;
}

#result-div.result{
    left:0;
    width:100vw;
    opacity:1;
    transition:400ms;
}


.form-label{
    background-color: rgb(0, 153, 255);
    color: white;
    padding:20px;
    /* height: 77px; */
    display:block;
    font-size:1.8em;
    z-index: 2;
    overflow: hidden;
    position: relative;
}

.form-label-p{
    position: relative;
    margin:0;
}

.form-label:before{
    display: block;
    position: absolute;
    top:-10px;
    left:0;
    content:" ";
    opacity:0;
    width:100vw;
    height:0;
    background-color: rgb(155, 155, 155);
    transition-property: height, top, opacity,background-color;
    transition-duration: 200ms;
}

.form-label:hover:before{
    transition-property: height, top, opacity,background-color;
    transition-duration: 400ms;
    top:-10px;
    height:87px;
    opacity:1;
    white-space: pre-wrap;
    content:"\f3d0                \f3d0";
    font-family: "IonIcons";
    font-size:2em;
    background-color: rgba(155, 155, 155, 0.185);
}

#select-question-wrapper{
    position: relative;
    width:50vw;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

#select-question-wrapper:before{
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    /* content: "\f123"; */
    content:"\f3d0";
    font-family: "IonIcons";
    line-height: 43px;
    color: #7F878C;
    pointer-events: none;
}

#select-question{
    width:50vw;
    font-size:1.4em;
    /* margin-top:30px; */
    /* box-shadow: 5px 5px 5px gray; */
    padding:20px 40px;
    outline: none;
    border: none;
    border-radius: 40px;
    background-color: rgb(175, 223, 255);
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
    appearance: none;	/* 標準のスタイルを無効にする */ 
    transition-property: box-shadow,border-radius;
    transition-duration: 400ms;
}

#select-question:focus{
    outline: none;
}

#select-question:hover{
    box-shadow: 5px 5px 5px gray;
    border-radius: 0px;
    transition-property: box-shadow,border-radius;
    transition-duration: 400ms;
}

#answer-text{
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    width:70vw;
    /* box-shadow: 5px 5px 5px gray ; */
}

.action-button{
    font-size:2em;
    font-weight: bold;
    padding:40px 80px;
    border-radius: 60px;
    border: none;
    background-color: rgb(175, 223, 255);
    transition-property: box-shadow,border-radius;
    transition-duration: 400ms;
    
}

.action-button:hover{
    appearance: none;
    box-shadow: 5px 5px 5px gray;
    border-radius: 0px;
    transition-property: box-shadow,border-radius;
    transition-duration: 400ms;
    /* background-color:red; */
}

.form-item-wrapper{
    margin-top: 50px;
}

#answer-result{
    margin:50px;
    padding:20px;
    background-color: rgb(175, 223, 255);
    font-size:1em;
    text-align: left;
}

#answer-result:before{
    white-space: pre-wrap;
    content:"--Analysis report--\a\a";
    font-size:1.2em;
    font-weight:bold;
}